<%- include('partials/header'); -%>

<h1>Home</h1>
<p><%= homeStartingText %></p>

<% postsArray.forEach(function(post) { %>
    <div>
        <h1> <%= post.postTitle %> </h1>
        <p>
            <%= post.postContent.substring(0, 100) + ' ...' %>
            <a href="/posts/<%= post.postTitle %>">Read More</a> 
        </p>
               
    </div>
<% }); %> 


<%- include('partials/footer'); -%>

